/* Estilos para el encabezado (header) */

.contenedor-header {
    background-color: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 68.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375em 1.25em;
}

.contenedor-header header .logo a {
    font-family: 'Rigtheous', cursive;
    font-size: 2rem;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header nav ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: antiquewhite;
    margin: 0 0.9375em;
    padding: 0.1875em;
    transition: 0.5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #1CB698;
}

.nav-responsive {
    background-color: #1CB698;
    color: #fff;
    padding: 0.3125em 0.625em;
    border-radius: 0.3125em;
    cursor: pointer;
    display: none;
}
.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    /* Puedes ajustar este valor a tus necesidades */
    height: 100%;
    background-color: #1e2326;
    /* Puedes ajustar este valor a tus necesidades */
    overflow: auto;
    transition: 0.5s;
    /* Añade una transición suave al mostrar y ocultar el sidebar */
}

.sidebar.active {
    display: block;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    /* Puedes ajustar este valor a tus necesidades */
    text-decoration: none;
    color: #fff;
    /* Puedes ajustar este valor a tus necesidades */
}
.sidebar hr {
    width: 100%;
    /* Puedes ajustar este valor a tus necesidades */
    margin: 10px auto;
    /* Puedes ajustar este valor a tus necesidades */
    border: 1px solid #1CB698;
    /* Puedes ajustar este valor a tus necesidades */
}
.sidebar ul li a:hover {
    background-color: #1CB698;
    /* Puedes ajustar este valor a tus necesidades */
}
@media screen and (max-width: 768px) {
    .contenedor-header header nav ul {
        display: none;
    }
    
    .nav-responsive {
        display: block;
    }
}