<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Portafolio de proyectos">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Milton Rivas">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../access/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Portafolio</title>
</head>

<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../access/img/favicon.png">
<body>
    <div class="contenedor-header">
        <header>
            <div class="logo">
                <a href="#">Milton</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="about.html">Acerca de</a></li>
                    <li><a href="blog.html">Experiencia</a></li>
                    <li><a href="portfolio.html">Proyectos</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                </ul>
            </nav>
            <div class="nav-responsive">
                <i class="ti ti-nav-bar"></i>
            </div>
        </header>
    </div>

    <!-- Seccion Contacto -->
    <section class="contacto">
        <div class="contenido-seccion">
            <h2>Contacto</h2>
            <div class="fila">
                <div class="col">
                    <input type="text" placeholder="Tú Nombre" >
                    <input type="text" placeholder="Apellidos" >
                    <input type="text" placeholder="Número de teléfono" >
                    <input type="text" placeholder="Dirección de correo" >
                    <input type="text" placeholder="Tema" >
                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje">
    
                    </textarea>
                    <button>
                        Enviar Mensaje
                        <i class="ti ti-paper-plane"></i>
                        <span class="overlay"></span>
                    </button>
                </div>
                <div class="col">
                    <img src="../access/img/ubicacion.jpg" alt="ubicacion">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="ti ti-location"></i>
                                Direccion: Km 5.5 via Daule Mapasingue
                            </li>
                            <li>
                                <i class="ti ti-mobile"></i>
                                Llamanos: 0993898467                           
                            </li>
                            <li>
                                <i class="ti ti-envelope"></i>
                                Email: milton.rivas@uees.edu.ec                           
                            </li>
                        </ul>
                    </div>
    
                </div>
            </div>
            
        </div>
    </section>
 
    <footer class="footer">
        <div class="container">
            <p>Sígueme en:</p>
            <div class="footer__social" id="socialLinks">
                <!-- Aquí se pueden incluir enlaces a redes sociales -->
            </div>
        </div>
    </footer>

    <script src="../js/main.js"></script>  
</body>
</html>
