.about-me {
    background-color: #1e2326;
    color: #fff;
    padding: 50 px 20px;
    height: 100%;
}

.about-me .contenido-section {
    max-width: 1100px;
    margin: 0 auto;
}

.about-me h2 {
    font-size: 48px;
    font-family: 'Righteous', cursive;
    padding: 20px;
}

.about-me .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.about-me .contenido-section p span {
    font-weight: bold;
    color: #1CB698;
}

.about-me .fila {
    display: flex;

}

.about-me .fila .col {
    width: 50%;

}

.about-me .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous', cursive;
    margin-bottom: 25px;
}

.about-me .fila .col ul {
    list-style: none;
}

.about-me .fila .col ul li {
    margin: 12px 0
}

.about-me .fila .col ul li strong {
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.about-me .fila .col ul li span {
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.about-me .fila .col .contenedor-intereses {
    display: flex;

}

.about-me .fila .col .contenedor-intereses .intereses {
    width: 100%;
    height: 100%;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: .3s;
}

.about-me .fila .col .contenedor-intereses .intereses:hover {
    background-color: #1CB698;
}

.about-me .fila .col .contenedor-intereses .intereses i {
    font-size: 30px;
    margin-bottom: 10px;
}

.about-me button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 10px auto;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.about-me button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
 
}
.about-me button:hover  .overlay {
 width: 100%;
 
}
.about-me .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 columnas de tamaño igual */
    grid-gap: 20px;
    padding: 20px;
}

.about-me .grid h3 {
    grid-column: 1 / -1; /* Ocupa todas las columnas disponibles */
    margin-bottom: 10px; /* Añade espacio inferior */
}

.about-me .grid ul {
    list-style-type: none; /* Elimina viñetas de la lista */
    padding: 0;
    margin: 0;
}

.about-me .grid ul li {
    margin-bottom: 30px; /* Añade espacio entre elementos de lista */
}

.about-me .grid ul li strong {
    display: block; /* Hace que el texto de la pregunta sea bloque para ocupar espacio vertical */
    font-weight: bold;
}

.about-me .grid ul li p {
    margin-top: 5px; /* Añade espacio superior al texto de la respuesta */
}


@media screen and (max-width: 768px) {
    .about {
        padding: 0.625rem;
        /* equivalente a 10px */
    }

    .about__title {
        font-size: 1.25rem;
        /* equivalente a 20px */
        margin-bottom: 0.3125rem;
        /* equivalente a 5px */
    }
}