/* Estilos para la sección de contacto (contacto) */
.contacto {
    background-image: url(../../img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 3.125em 0;
}

.contacto .contenido-seccion {
    max-width: 68.75rem;
    margin: 0 auto;
}

.contacto h2 {
    font-size: 3rem;
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 1.25em 0;
}

.contacto .fila {
    display: flex;
    flex-wrap: wrap;
    /* Permitir que los elementos se envuelvan en pantallas pequeñas */
}

.contacto .col {
    width: 95%;
    /* Ocupar todo el ancho en dispositivos móviles */
    padding: 0.625em;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 85%;
    /* Ocupar todo el ancho disponible */
    padding: 1.125em;
    margin-bottom: 1.25em;
    border: 0.0625em solid #fff;
    background-color: #252A2E;
    color: #fff;
    font-size: 1.125em;
    border-radius: 1rem;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 0.125em solid #fff;
    width: fit-content;
    display: block;
    margin: 1.25em auto;
    padding: 0.625em 1.375em;
    font-size: 1em;
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 1rem;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
        border-radius: 1rem;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col img {
    width: 100%;
    /* Ocupar todo el ancho disponible */
    height: auto;
    margin-top: 1.25em;
    /* Espacio entre el formulario y la imagen en dispositivos móviles */
}

.contacto .col .info {
    max-width: 100%;
    /* Ocupar todo el ancho disponible */
    background-color: #252A2E;
    padding: 1.5em;
    margin-top: 1.25em;
    /* Espacio entre el formulario y la información en dispositivos móviles */
}

.contacto .col .info ul {
    list-style: none;
    padding: 0;
}

.contacto .col .info ul li {
    margin-bottom: 1em;
}

.contacto .col .info ul li i {
    color: #1CB698;
    margin-right: 0.5em;
}

/* Estilos para dispositivos móviles */
@media screen and (min-width: 768px) {
    .contacto .fila {
        flex-wrap: nowrap;
        /* Volver a la disposición horizontal en pantallas más grandes */
    }

    .contacto .col {
        width: 50%;
        /* Dividir en dos columnas en pantallas más grandes */
    }
}