<!-- file contact.html -->
<!DOCTYPE html>
<html lang="es" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Portafolio de proyectos">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Milton Rivas">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../access/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Portafolio</title>
</head>

<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/png" href="../access/img/favicon.png">

<body>
    <header>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="logo">

                    <a class="navbar-item" href="#">
                        Milton
                    </a>
                </div>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarMenu" onclick="toggleSidebar()">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>


            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="../index.html">Inicio</a>
                    <a class="navbar-item" href="../components/about.html">Acerca de</a>
                    <a class="navbar-item" href="../components/blog.html">Experiencia</a>
                    <a class="navbar-item" href="../components/portfolio.html">Proyectos</a>
                    <a class="navbar-item" href="../components/contact.html">Contacto</a>
                </div>
            </div>

        </nav>

        <div id="sidebar" class="sidebar">
            <aside class="menu">
                <ul class="menu-list">
                    <li><a href="../index.html">Inicio</a></li>
                    <hr>
                    <li><a href="../components/about.html">Acerca de</a></li>
                    <hr>
                    <li><a href="../components/blog.html">Experiencia</a></li>
                    <hr>
                    <li><a href="../components/portfolio.html">Proyectos</a></li>
                    <hr>
                    <li><a href="../components/contact.html">Contacto</a></li>
                    <hr>
                </ul>
            </aside>
        </div>
    </header>

    <!-- Seccion Contacto -->
    <section class="contacto">
        <div class="contenido-seccion">
            <h2>Contacto</h2>
            <div class="fila">
                <div class="col">
                    <form id="contactForm">

                    <div class="container is-max-widescreen">
                        <div class="notification is-dark">
                            <div class="field">
                                <label class="label">Nombres</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Tú Nombre">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Apellidos</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Apellidos">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Telefono</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Número de teléfono">
                                </div>
                            </div>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Dirección de correo">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </div>
                            <div class="field">
                                <label class="label">Asunto</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Tema">
                                </div>
                              </div>
        
                            <div class="field">
                                <label class="label">Mensaje</label>
                                <div class="control">
                                    <textarea class="textarea" name="" id="" cols="30" rows="10" placeholder="Mensaje">
                                    </textarea>
                                </div>
                            </div>
                            <button type="submit">
                                Enviar Mensaje
                                <i class="ti ti-paper-plane"></i>
                                <span class="overlay"></span>
                            </button>
                        </div>
                      </div>
                    </form>

                </div>
                <div class="col">
                    <img src="../access/img/ubicacion.jpg" alt="ubicacion">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="ti ti-location"></i>
                                Direccion: Km 5.5 via Daule Mapasingue
                            </li>
                            <li>
                                <i class="ti ti-mobile"></i>
                                Llamanos: 0993898467
                            </li>
                            <li>
                                <i class="ti ti-envelope"></i>
                                Email: milton.rivas@uees.edu.ec
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Sígueme en:
                <a href="https://www.linkedin.com/" class="icon is-large">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/mrivasg" class="icon is-large">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:milton.rivas@uees.edu.ec" class="icon is-large">
                    <i class="fas fa-envelope"></i>
                </a>
            </p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.0.0-beta1/js/all.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>