<!-- file portafolio.html -->
<!DOCTYPE html>
<html lang="es" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Portafolio de proyectos">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Milton Rivas">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../access/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Portafolio</title>
</head>

<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/png" href="../access/img/favicon.png">

<body>
    <header>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="logo">

                <a class="navbar-item" href="#">
                    Milton
                </a>
                </div>
          
                    <a  role="button" class="navbar-burger burger" 
                    aria-label="menu" aria-expanded="false" data-target="navbarMenu" onclick="toggleSidebar()">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
            
          
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="../index.html">Inicio</a>
                    <a class="navbar-item" href="../components/about.html">Acerca de</a>
                    <a class="navbar-item" href="../components/blog.html">Experiencia</a>
                    <a class="navbar-item" href="../components/portfolio.html">Proyectos</a>
                    <a class="navbar-item" href="../components/contact.html">Contacto</a>
                </div>
            </div>
            
        </nav>

        <div id="sidebar" class="sidebar">
            <aside class="menu">
                <ul class="menu-list">
                    <li><a href="../index.html">Inicio</a></li>
                    <hr>
                    <li><a href="../components/about.html">Acerca de</a></li>
                    <hr>
                    <li><a href="../components/blog.html">Experiencia</a></li>
                    <hr>
                    <li><a href="../components/portfolio.html">Proyectos</a></li>
                    <hr>
                    <li><a href="../components/contact.html">Contacto</a></li>
                    <hr>
                </ul>
            </aside>
        </div>
    </header>



    <!-- Seccion portfolio -->
    <div class="portfolio">
        <div class="contenido-seccion">
            <h2>Proyectos</h2>
            <div class="galeria">
                <div class="proyectos">
                    <img src="../access/img/robotica.jpeg" alt="">
                    <div class="overlay">
                        <h3>Robotica</h3>
                        <p>Diseño y desarrollo de sistemas robóticos avanzados, integrando soluciones innovadoras para
                            automatización industrial y aplicaciones autónomas.</p>
                    </div>
                </div>
                <div class="proyectos">
                    <img src="../access/img/erp.jpg" alt="">
                    <div class="overlay">
                        <h3>Contribución con ERP</h3>
                        <p>Implementación y personalización de soluciones ERP para optimizar procesos empresariales,
                            mejorando la eficiencia y la toma de decisiones.</p>
                    </div>
                </div>
                <div class="proyectos">
                    <img src="../access/img/gestion.jpg" alt="">
                    <div class="overlay">
                        <h3>Dominio con Sistemas Agiles</h3>
                        <p>Liderazgo en equipos ágiles para el desarrollo de software, garantizando entregas de calidad
                            en plazos ajustados y adaptándose a requisitos cambiantes.</p>
                    </div>
                </div>
                <div class="proyectos">
                    <img src="../access/img/diseño-web.jpg" alt="">
                    <div class="overlay">
                        <h3>Diseño Web</h3>
                        <p>Creatividad y expertise en diseño web moderno, aplicando principios de usabilidad y
                            accesibilidad para mejorar la portfolio del usuario.</p>
                    </div>
                </div>
                <div class="proyectos">
                    <img src="../access/img/arquitectura-soft.jpg" alt="">
                    <div class="overlay">
                        <h3>Arquitectura de Software</h3>
                        <p>Diseño y desarrollo de arquitecturas de software escalables y robustas, utilizando
                            tecnologías de vanguardia para sistemas distribuidos y en la nube.</p>
                    </div>
                </div>
                <div class="proyectos">
                    <img src="../access/img/admin-db.jpg" alt="">
                    <div class="overlay">
                        <h3>Administración Base de datos</h3>
                        <p>Implementación y gestión eficiente de bases de datos SQL y NoSQL, optimizando el rendimiento
                            y la seguridad de sistemas críticos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Sígueme en:
                <a href="https://www.linkedin.com/" class="icon is-large">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/mrivasg" class="icon is-large">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:milton.rivas@uees.edu.ec" class="icon is-large">
                    <i class="fas fa-envelope"></i>
                </a>
            </p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.0.0-beta1/js/all.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>