/* Estilos para la sección de Experiencia */

.experiencia {
    background-color: #1e2326;
    color: #fff;
    padding: 3.125em 1.25em;
    height: 100%;
}

.experiencia .contenido-seccion {
    max-width: 68.75rem;
    margin: 0 auto;
}

.experiencia h2 {
    font-size: 3rem;
    font-family: 'Righteous', cursive;
    padding: 1.25em;
}

.experiencia .experiencias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experiencia .experiencia-item {
    width: 18.75rem;
    /* Ancho de cada item de experiencia */
    margin-bottom: 1.25em;
    position: relative;
}

.experiencia .experiencia-item img {
    width: 100%;
    border-radius: 0.625em;
}

.experiencia .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.experiencia .overlay:hover {
    opacity: 1;
}

.experiencia .overlay h3,
.experiencia .overlay p {
    text-align: center;
}

/* Estilos para la sección de Experiencia */
.experiencia {
    padding: 3.125em 1.25
}
@media screen and (max-width: 48em) {
    .experiencia .contenido-seccion {
        padding: 1.25em;
    }

    .experiencia h2 {
        font-size: 2rem;
    }

    .experiencia .experiencia-item {
        width: 100%;
        margin-bottom: 2.5em;
    }
}