.portfolio {
    background-color: #252a2e;
    color: #fff;
    margin: auto;
    width: 100%;
}

.portfolio .contenido-seccion {
    max-width: 68.75rem; /* equivalente a 1100px */
    margin: auto;
}

.portfolio h2 {
    font-size: 3rem; /* equivalente a 48px */
    font-family: 'Righteous', cursive;
    text-align: center; 
    padding: 1.25rem 0; /* equivalente a 20px */
    margin-top: 5rem;
}

.portfolio .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 1.25rem; /* equivalente a 20px */
    padding: 1.25rem; /* equivalente a 20px */
}

.portfolio .galeria .proyectos img {
    width: 80%; /* equivalente a 80% del contenedor padre */
    height: 45%; /* equivalente a 45% del contenedor padre */
    object-fit: cover;
    border-radius: 0.625rem; /* equivalente a 10px */
}
@media (max-width: 480px) {
    .portfolio .contenido-seccion {
        max-width: 90%; /* Adjust the value as needed */
    }

    .portfolio h2 {
        font-size: 2rem; /* Adjust the value as needed */
        margin-top: 3rem; /* Adjust the value as needed */
    }

    .portfolio .galeria {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* Adjust the value as needed */
        grid-gap: 1rem; /* Adjust the value as needed */
        padding: 1rem; /* Adjust the value as needed */
    }

    .portfolio .galeria .proyectos img {
        width: 100%; /* Adjust the value as needed */
        height: auto;
    }
}
@media (max-width: 768px) {
    .portfolio .galeria .proyectos img {
        width: 100%;
        height: auto;
    }
}