/* Estilos para el encabezado (header) */

.contenedor-header {
    background-color: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 68.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375em 1.25em;
}

.contenedor-header header .logo a {
    font-family: 'Rigtheous', cursive;
    font-size: 2rem;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header nav ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: antiquewhite;
    margin: 0 0.9375em;
    padding: 0.1875em;
    transition: 0.5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #1CB698;
}

.nav-responsive {
    background-color: #1CB698;
    color: #fff;
    padding: 0.3125em 0.625em;
    border-radius: 0.3125em;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .contenedor-header header nav ul {
        display: none;
    }
    
    .nav-responsive {
        display: block;
    }
}